<nav class="navbar navbar-dark bg-inverse bg-faded">
	<a class="navbar-brand" routerLink="/">AppTeste</a>
	<ul class="nav navbar-nav">
		<li class="nav-item" *ngFor="let mainMenu of getAllMenus()">
			<div class="dropdown">
				<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					{{mainMenu.title}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" >
					<li *ngFor="let childs of mainMenu.childs"><a routerLink="{{childs.path}}">{{childs.name}}</a></li>
				</ul>
			</div>
		</li>
	</ul>
</nav>


