<div class="jumbotron">
  <h1>Product list</h1>

  <div class="card" *ngFor="let product of products | async">
    <div class="card-header">
      Product : {{product.name}}
    </div>
    <div class="card-block">
      <h4 class="card-title">Value : {{product.value}}</h4>
      <button type="button" (click)="info(product)" class="btn btn-primary">Info</button>
      <button type="button" (click)="update(product)" class="btn btn-warning">Update</button>
      <button type="button" (click)="delete(product)" class="btn btn-danger">Delete</button>
    </div>
    <br />
  </div>
</div>