<div class="jumbotron">
  <h1>Product list</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th (click)="orderBy('id')"><i class="fa fa-sort" aria-hidden="true"></i> #</th>
          <th (click)="orderBy('name')"><i class="fa fa-sort" aria-hidden="true"></i> Name</th>
          <th (click)="orderBy('value')"><i class="fa fa-sort" aria-hidden="true"></i> Value</th>
          <th (click)="orderBy('productType')"><i class="fa fa-sort" aria-hidden="true"></i> Type</th>
          <th class="text-center" *ngIf="globalService.hasPermission(globalService.USER_ROLE_ADMIN)">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.value}}</td>
          <td>{{product.productType}}</td>
          <td class="text-center" *ngIf="globalService.hasPermission(globalService.USER_ROLE_ADMIN)">
              <button type="button" (click)="info(product)" class="btn btn-primary">Info</button>
              <button type="button" (click)="update(product)" class="btn btn-warning">Update</button>
              <button type="button" (click)="openModal(product)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ngl-pagination limit="10" [perPage]="filterDTO.pageSize" (pageChange)="onPageChange($event)" [(page)]="filterDTO.currentPage"
    [total]="size"></ngl-pagination>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Are you sure to delete?</h4>
        </div>
        <div class="modal-body">
          <p>Product: {{productSelected?.name}}.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" (click)="delete(productSelected)" class="btn btn-primary" data-dismiss="modal">Delete</button>
        </div>
      </div>

    </div>
  </div>
</div>