<div class="has-error" *ngIf="(formCtrl.touched || isSubmitted)  && formCtrl.hasError('required')">
  Name is required
</div>
<div class="has-error" *ngIf="(formCtrl.touched || isSubmitted) && formCtrl.hasError('minlength')">
  Minimum of 2 characters
</div>
<div class="has-error" *ngIf="(formCtrl.touched || isSubmitted) && formCtrl.hasError('external')">
  external validator triggered
</div>
<div class="has-error" *ngIf="(formCtrl.touched || isSubmitted) && formCtrl.hasError('internal')">
  internal validator triggered
</div>