<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">My Cart</h4>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><i class="fa fa-sort" aria-hidden="true"></i> #</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Name</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Value</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Type</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Date</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Quantity</th>
              <th><i class="fa fa-sort" aria-hidden="true"></i> Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cp of cartGlobalService.userCart">
              <td>{{cp.product.id}}</td>
              <td>{{cp.product.name}}</td>
              <td>{{cp.product.value | currency:globalService.currencyCode:globalService.symbolDisplay}}</td>
              <td>{{cp.product.productType}}</td>
              <td>{{cp.product.date | date:globalService.datePipe}}</td>
              <td>{{cp.quantity}}</td>
              <button type="button" (click)="removeProduct(cp)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" [hidden]="cartGlobalService.userCart.length == 0" (click)="saveCart()" class="btn btn-success" >Save cart</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Payment</button>
    </div>
  </div>

</div>