<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">My Cart</h4>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th (click)="orderBy('id')"><i class="fa fa-sort" aria-hidden="true"></i> #</th>
              <th (click)="orderBy('name')"><i class="fa fa-sort" aria-hidden="true"></i> Name</th>
              <th (click)="orderBy('value')"><i class="fa fa-sort" aria-hidden="true"></i> Value</th>
              <th (click)="orderBy('productType')"><i class="fa fa-sort" aria-hidden="true"></i> Type</th>
              <th (click)="orderBy('date')"><i class="fa fa-sort" aria-hidden="true"></i> Date</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>asd</td>
              <td>asd</td>
              <td>ads</td>
              <td>xxx</td>
              <td>sss</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal">Payment</button>
    </div>
  </div>

</div>