<div class="container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Cadastrar Usuário</h4>
			</div>
			<div class="panel-body">
				<form (ngSubmit)="onSubmit(mainForm)" #mainForm="ngForm">
					<div class="form-group row">
						<label for="inputEmail3" class="col-sm-2 col-form-label">Nome</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="nome"
								placeholder="Nome" [(ngModel)]="user.nome">
						</div>
					</div>
					<div class="form-group">
						<label for="exampleSelect1">Sexo</label> 
						<select class="form-control" name="sexo" [(ngModel)]="user.sexo" >
							<option *ngFor="let user of getUsersMock()" [value]="user.sexo">{{user.sexo}}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>