<div class="container">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Listar Usuário</h4>
			</div>
			<div class="panel-body">
				<div class="card" *ngFor="let user of getUsersMock()">
					<div class="card-block">
						<h4 class="card-title">{{user.nome}}</h4>
						<p class="card-text">Sexo : {{user.sexo}}</p>
						<a href="#" class="btn btn-warning">Alterar</a> <a href="#"
							class="btn btn-danger">Excluir</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>